<form action="/create" method="post">
  <div>
    <label for="name">Recipe Name</label>
    <input type="text" name="name">
  </div>
  <div>
      <label for="description">Recipe Description</label>
      <input type="text" name="description">
  </div>
  <label for="preptime">Recipe Prep-Time</label>
  <input type="text" name="preptime">
  <label for="rating">Recipe Rating</label>
  <input type="number" name="rating">
  <input type="submit" value="Click here">
</form>
