<h1>Import A Recipe</h1>

<div>
  <form action="/scrape" method="post">
    <label for="ingredient">Choose An Ingredient to Import Recipes:</label>
    <input type="text" name="ingredient">
    <input type="submit" value="Search">
  </form>

</div>
